---
layout: page
title: About
eleventyNavigation:
  key: About
---

<p>
  Im a Blue Belt based in the UK.
</p>

<p>
  This site was inspired by a
  <a class="text-orange-500 font-bold" href="https://old.reddit.com/r/bjj/comments/c35ehr/danahers_enter_the_system_on_the_cheap/">post on reddit</a>
  and just a general want to have videos organised.
</p>

<p>
  I stream most days on
  <a class="text-purple-600 font-bold" href="https://twitch.tv/DeepfriedDev">
    Twitch
  </a>
</p>

<p>OSS!</p>
